/* styles.css */
body {
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
    background: url('synth.gif') no-repeat center center fixed;
    background-size: cover;
    color: #FFFFFF;
    text-align: center;

    /* Flexbox pour centrer verticalement */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    font-size: 3em;
    margin: 20px 0;
    text-shadow: 2px 2px 4px #000000;
}

/* Nouveau conteneur pour la liste de projets */
.project-list {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre les liens horizontalement */
    justify-content: space-around; /* Espacement entre les éléments */
    height: 100%; /* Occupe toute la hauteur disponible */
    width: 100%; /* Occupe toute la largeur disponible */
    margin-top: 50px; /* Éloigne un peu la liste du titre */
}

/* Styles pour les éléments de la liste */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%; /* Occupe toute la largeur disponible */
}

li {
    font-size: 2em;
    text-shadow: 2px 2px 4px #000000;
    margin: 20px 0; /* Ajoute de l'espace vertical entre chaque élément */
}

/* Style pour les liens */
a {
    color: #FFFFFF;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #FF00FF;
}


/* #00FFFF */